:root {
  /* Color variables */
  --primary-color: #003399;
  --secondary-color: #FFFFFF;
  --background-color: #000000;
  --border-color: var(--primary-color);
  --hover-color: #1100ff;
  --emergency-color: #ff0000;
  --glass-opacity: 0.9;
  --blur-strength: 5px;
  --box-shadow-color: rgba(0, 0, 0, 0.4);
}

/* Global Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--secondary-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--secondary-color);
  background-image: url("tardis.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(var(--blur-strength));
  box-shadow: 0 8px 32px var(--box-shadow-color);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, var(--glass-opacity));
  backdrop-filter: blur(var(--blur-strength));
  box-shadow: 0 8px 16px var(--box-shadow-color);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.form-container button,
button[type="submit"],
#scrollButton,
#activate-emergency {
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px var(--box-shadow-color);
}

.form-container button,
button[type="submit"] {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.form-container button:hover,
button[type="submit"]:hover,
#show-signup-link:hover {
  background-color: var(--hover-color);
}

.form-container .form-footer,
h2,
h3,
#journal-entries ul {
  text-align: center;
  color: var(--primary-color);
}

h1 {
  text-align: center;
  color: var(--secondary-color);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border: none;
  border-radius: 5px;
  color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.button-link {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

.button-link:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

/* Specific Styles */
#login-container,
#signup-container {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(var(--blur-strength));
}

#login-container h2,
#signup-container h2 {
  color: var(--primary-color);
}

#login-container .form-footer a {
  color: var(--primary-color);
}

#signup-container .form-footer a:hover {
  color: var(--hover-color);
}

#console-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 0 30px var(--box-shadow-color), 0 0 20px rgba(255, 255, 255, 0.2) inset;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

#console-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(20px);
  pointer-events: none;
  z-index: -1;
}

#console-section::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 2px solid var(--border-color);
  border-radius: 12px;
  pointer-events: none;
}

#dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  flex-grow: 1;
}

.dashboard-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.95);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 0 30px var(--box-shadow-color);
  padding: 20px;
  margin: 20px;
  width: 400px;
  height: 350px;
  max-width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
  color: var(--primary-color);
}

#destination-select:focus {
  outline: none;
  border: 2px solid var(--border-color);
}

#destination-select::placeholder {
  color: var(--primary-color);
}

#activate-emergency {
  background-color: var(--emergency-color);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 10px;
  color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  box-shadow: 8px 8px 16px #d6d6d6, -8px -8px 16px #ffffff;
  outline: none;
  margin: 10px;
}

.btn:hover {
  background-color: var(--hover-color);
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .container {
    padding: 20px;
  }
  
  .form-container {
    width: 100%;
  }

  .dashboard-box {
    width: 100%;
  }
}